/*リストで表示するものは以下で統一して使う*/

.word_list {
    width: 80%;
    margin: 0 auto;
}

.word_list tr {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    border-bottom: 1px solid #BDBDBD;
    font-weight: bolder;
}

.word_list tr .keyword {
    font-size: 20px;
    width: 40%;
    padding: 8px;
    color: #D22121;
}

.word_list tr .additional {
    width: 40%;
    padding: 8px;
    color: #545454;
}

.answer {
    color: red;
    /*font-style: bolder !important;*/
}

.textarea_label {
    font-size: 18px;
    text-align: left;
}

.mb10 {
    margin-bottom: 10;
}

.sentence_box {
    width: 900px;
    margin: 0 auto;
}

.option_box {
    width: 700px;
    float: left;
    margin-left: 100px;
}

.answer_btn {
    float: right;
    margin-right: 100px;
}